<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <title>Some page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Hello {{ pageTitle }}!</h1>
        <footer>
            <p>Copyright {{ currentYear }}</p>
        </footer>
    </body>
</html>